services:
  - type: web
    name: webcashier
    env: dotnet
    plan: free
    runtime: dotnet
    buildCommand: cd WebCashier && dotnet publish --configuration Release --output ../publish
    startCommand: dotnet ./publish/WebCashier.dll
    disks:
      - name: data
        mountPath: /var/data
        sizeGB: 1
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ASPNETCORE_URLS
        value: http://0.0.0.0:$PORT
      - key: DATA_PROTECTION_KEYS_DIRECTORY
        value: /var/data/dp-keys
