@{
    ViewData["Title"] = "Configurations";
}

<div class="container py-4">
    <h1 class="h3 mb-4">PSP Configurations</h1>

    <div class="list-group">
        <a class="list-group-item list-group-item-action" asp-controller="Config" asp-action="Praxis">Praxis</a>
        <a class="list-group-item list-group-item-action" asp-controller="Config" asp-action="Luxtak">Luxtak</a>
        <a class="list-group-item list-group-item-action" asp-controller="Config" asp-action="Smilepayz">Smilepayz</a>
    </div>
</div>
